$background-color: #f2f8ff;
$base-font-color: #000000;
$active-font-color: #5a58da;
$heading-font-color: #637892;
$base-card-color: #fff;
$fog-color: rgba(90,88,218,0.6);
$fog-icon-color: #f2f8ff;
$list-color: #637892;
$radiogroup-icon-color: #637892;
$radiogroup-base-color: #637892;
$radiogroup-active-color: #5a58da;

/* buttons */
$base-button-color: #fff;
$button-primary-back: #5a58da;
$button-primary-color: #fff;
$button-default-back: #f2f8ff;
$button-default-color: #5a58da;
$button-warning-back: #f0932b;
$button-warning-color: #fff;
$button-error-back: #EA2027;
$button-error-color: #fff;
$button-success-back: #00bc8c;
$button-success-color: #fff;

/* alerts */

$alert-error-border: #EA2027;
$alert-error-back: #ff5d6c;
$alert-error-text: #fff;
$alert-warning-back: #f0932b;
$alert-warning-border: #995f1d;
$alert-warning-text: #fff;
$alert-info-back: #3598db;
$alert-info-border: #2b7cb3;
$alert-info-text: #fff;
$alert-success-back: #00bc8c;
$alert-success-border: #01916d;
$alert-success-text: #fff;

/* item status */
$item-status-color-rented: #f0932b;
$item-status-color-available: #00bc8c;

